<div>
  <div class="list-frame" id="item-detail">
    <ion-header-bar class="bar-positive">
      <h1 class="title">{{selectItem.text}}详细资料</h1>
      <button class="button button-clear pull-right" ng-click="commentReturn()">后退</button>
    </ion-header-bar>
    <div class="detail-frame">
      <div class="detail-title">基本信息</div>
      <ion-scroll class="detail-component" direction="y">
        {{selectItem.brief}}
      </ion-scroll>
      <div class="detail-title">图片</div>
      <ion-scroll class="detail-component" direction="x">
        <div id="picture view" ng-repeat="media in mediaList">
          <div ng-if="media.type === 1">
            <video class="media-view" src="{{getMediaSrc(media.name) | trusted}}" controls></video>
          </div>
          <div ng-if="media.type === 0">
            <img class="media-view" src="{{getMediaSrc(media.name)}}"/>
          </div>

        </div>
      </ion-scroll>
      <div class="detail-title">详细介绍</div>
      <ion-scroll class="detail-component" direction="y">
        <div>{{selectItem.detail}}</div>
      </ion-scroll>
    </div>
  </div>
  <div class="button-bar bar-positive slide-bar">
    <a class="button" ng-disabled="!user" ng-click="addOperation(0)"><i class="icon ion-ios-star"></i></a>
    <a class="button"><i class="icon ion-share"></i></a>
    <a class="button" ng-disabled="!user" ng-click="addOperation(1)"><i class="icon ion-ios-paw" ></i></a>
    <a class="button" ng-disabled="!user" ng-click="addOperation(2)"><i class="icon ion-heart" ></i></a>
    <a class="button" ng-click="reportError()">报错</a>
  </div>
</div>
